@font-face {
  font-family: "MyFont";
  src: url("./../fonts/yekanbakh/YekanBakhFaLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./../fonts/yekanbakh/YekanBakhFaMedium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "MyFont";
  src: url("./../fonts/yekanbakh/YekanBakhFaBold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: "MyFont", sans-serif;
}

body {
  margin: 0;
}

.logo {
  background-image: url("./../img/form-logo.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.FormikMaterialUITextField-root-1 label {
    font-size: 14px !important;
}


.MuiFormLabel-root,
.MuiFormHelperText-root,
.MuiButton-root {
  font-family: "MyFont", sans-serif !important;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.container-form {
  display: flex;
  align-items: center;
  height: 100vh;
}
.container-form .form-left-side {
  position: relative;
  width: 35%;
  height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem 0 2rem;
  text-align: right;
  line-height: 2;
  color: #fff;
}

.container-form .form-right-side {
  width: calc(100% - 35%);
  height: 100%;
  height: 100%;
  padding: 0 1rem;
  position: relative;
}

.container-form .form-right-side > form {
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
}
.container-form .form-right-side > form input {
  border-radius: 0.7rem !important;
  border-color: #8692a6;
}

.container-form .form-left-side {
  background-image: url("./../img/before-form-frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-form .form-left-side span {
  font-weight: 500;
}

.row-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-input > div {
  display: flex;
  flex: 1 0 49%;
  /* padding-bottom: 30px; */
}

.mr {
  margin-right: 1rem;
}

.row-input .input {
  position: relative;
}

.row-input .input input {
  border-radius: 2rem !important;
}
.row-input
  .input
  .MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error {
  position: absolute;
  top: 100%;
  right: 0;
}

.row-input .input .input-left input {
  text-align: left !important;
  direction: ltr !important;
}

.title-right-side {
  display: flex;
  flex-direction: column;
}

.title-right-side span {
  font-size: 14px;
  color: #000;
}
.title-right-side .title {
  font-size: 16px;
  color: #8f8f8f;
  padding-top: 0.6rem;
  font-weight: 500;
}
.input-radio {
  display: flex;
  align-items: center;
}
input[type="radio"] {
  width: 22px !important;
  height: 22px !important;
  margin-left: 12px !important;
  vertical-align: top !important;
  border: 2px solid #ddd !important;
  border-radius: 4px !important;
  background: #fff no-repeat center center !important;
  accent-color: #1565d8 !important;
}

.text-center-align {
  display: flex;
  align-items: center;
}

.MuiButton-containedPrimary {
  background-color: #1565d8 !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-right {
  text-align: right;
}

.flex-between {
  justify-content: space-between;
}

.mt-3 {
  margin-top: 2rem;
}
.my-3 {
    margin: 2rem 0;
}
.mb-4 {
  margin-top: 0.5rem;
}
.MuiFormHelperText-root {
  text-align: right !important;
  margin-right: 4px !important;
  font-size: 13px !important;
  padding-top: 0.5rem;
}
.MuiOutlinedInput-root {
  border-radius: 8px !important;
}

.MuiOutlinedInput-adornedEnd {
  padding-left: 14px;
}

.special-input {
  min-height: 9.2rem;
}
.PrivateNotchedOutline-legendLabelled-4 > span {
  padding-left: 15px !important;
}

[type="file"]::-webkit-file-upload-button {
  background: #1565d8;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
  outline: none;
  padding: 10px 25px;
}

.file-parent {
  display: flex;
  margin: 3rem;
}

.file-parent input {
  margin: 0 auto;
}

.btn-back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.confirm-btn {
  margin-top: 25px !important;
  padding: 8px 30px !important;
}
